.fundo {
    background-color: #efefef;
}

.logo {
    max-width: 100%;
}

.logo_header {
    max-width: 60%;
}


.logo-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }