<section class="text-center">
    <div class="p-5 bg-image"></div>
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Links úteis</h2>
                    <hr>
                    <h4>Postagens</h4>
                    <p>Crie, edite ou exclua qualquer postagem do site...</p>
                    <div class="d-flex justify-content-center mt-2">
                        <a href="/admin/postagens">
                            <button class="btn btn-success">Postagens</button>
                        </a>
                    </div>
                    <hr>
                    <h4>Categorias</h4>
                    <p>Crie, edite ou exclua qualquer categoria do site...</p>
                    <div class="d-flex justify-content-center mt-2">
                        <a href="/admin/categorias">
                            <button class="btn btn-success">Categorias</button>
                        </a>
                    </div>
                    <hr>
                    <h4>Usuários</h4>
                    <p>Crie, edite ou exclua qualquer usuário do site...</p>
                    <div class="d-flex justify-content-center mt-2">
                        <a href="/admin/usuarios">
                            <button class="btn btn-success">Usuários</button>
                        </a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>