<header class="d-flex flex-wrap teste22 align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none logo-center">
        <img class="logo_header" src="/img/logo/carpi-server-blog-roxo.png" alt="Carpi Serve">
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>.
        <li><a href="/categorias" class="nav-link px-2 link-dark">Categorias</a></li>.
        <li><a href="#" class="nav-link px-2 link-dark">Artigos</a></li>.
        <li><a href="#" class="nav-link px-2 link-dark">Sobre o Autor</a></li>
    </ul>
    {{#if user}}
        <a href="/usuarios/logout"><button type="button" class="btn btn-dark">Sair</button></a>
    {{else}}
    <div class="text-center">
        <a href="/usuarios/login"><button type="button" class="btn btn-outline-dark">Login</button></a>
        <a href="/usuarios/registro"><button type="button" class="btn btn-dark">Criar Conta GRATIS</button></a>
    </div>
    {{/if}}

</header>
