.fundo {
    background-color: #efefef;
}

.logo {
    max-width: 100%;
}

.logo_header {
    max-width: 60% !important;
}



@media (max-width: 992px) {
    .teste22 {
        display: flex !important;
        flex-direction: column !important;
    }
    .logo-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo_header {
        max-width: 300px !important;
    }
}